<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicons %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
    <div class="header">
        <div class="container">
          Chess
        </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>       
</div>

<div class="footer">
    <div class="container">
      <div class="media-buttons">
        <a href="http://github.com/network-chess/chess-backend" class="fa fa-3x fa-github"></a>
        <a href="http://twitter.com/stickfigure42" class="fa fa-3x fa-twitter"></a>
        <!-- <iframe src="http://ghbtns.com/github-btn.html?user=network-chess&repo=chess-backend&type=watch&count=true"
                height="30" width="80" frameborder="0" scrolling="0" style="width:80px; height: 30px;" allowTransparency="true"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=network-chess&repo=chess-backend&type=fork&count=true"
                height="30" width="80" frameborder="0" scrolling="0" style="width:80px; height: 30px;" allowTransparency="true"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=network-chess&type=follow&count=true"
                height="30" width="168" frameborder="0" scrolling="0" style="width:180px; height: 30px;" allowTransparency="true"></iframe> -->
      </div>

      <div class="copy">This Chess Server Copyright &copy; 2014 by Caleb Jones.</div>
    </div>
</div>

</body>
</html>
